.navbar{
	background-color:black;
	width:100%;	
}
.tab{
	font-size:20px;
	// margin-top:40px;
	display:block;
	float:left;
	width:100px;
	height:30px;
	// border:1px $webappborder solid;
	text-align:center;
	// background-color:white;
	margin-bottom:0%;

}