@import 'colors';
@import 'icons';
@import 'button';

div{
	/*border: 1px dashed black;*/
}
.name{
	font-size:30px
}

.goofyphoto{
	height:350px;
	margin-left:-90px;
}
.face{
	height:250px;
	width:250px;
	overflow:hidden;
	border-radius:100%;
	display:block;
	float:left;
}

.box{
	display:block;
	border:2px solid $webappborder;
	border-radius:3px;
	height:140px;

}
.tab{
	width:100px;
	height:30px;
	border:1px $webappborder solid;
	text-align:center;
}
