@import 'colors';
@import 'icons';
@import 'button';
@import 'intro';
@import 'navbar';

//font-family: 'Roboto', sans-serif;
//font-family: 'Open Sans', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Covered By Your Grace', cursive;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Shrikhand', cursive;
// font-family: 'Alfa Slab One', cursive;

*{
	font-family: 'Open Sans', sans-serif;
		color:#FFEFDA;

}
.paintspot1{
	position:absolute;
	display:none;
	z-index:-1;
	height:170px;
	margin-top:-270px;
	margin-left:-70px;
	opacity:0.75;
}
.apppage{
	display:block;
}
.contactpage{
	display:none;
}
.aboutpage{
	display:none;
}
body{
	background-image: url("../../assets/background.png");
}
div{
	/*border: 1px dashed black;*/
}
.navbar{
	height:72px;
	margin-bottom:0%;
	// border:1px black solid;
}

.header{
	// background-color:white;
}

.headbar{
	float:left;
	display:block;

}

.box{
	display:block;
	// border:1px solid $webappborder;
	// border-radius:3px;
	height:140px;
	background-color:$mainbg;
	// margin-left:-28px;
	width:100%;

}

.ghostypic{
	display: block;
	float:right;
	height:450px;
	// opacity:0.7;
	margin-top:-50px;
	margin-right:-320px;
}

