.intro{
	color:$introfont;
	// text-shadow: 2px 2px $fontcolor;
}
.name{
//font-family: 'Lobster', cursive;
	font-family: 'Shrikhand', cursive;
	font-size:120px;
		color:$introfont;

}
.hello{
	font-size:80px;
	font-family: 'Lobster', cursive;
		color:$introfont;



}
.mynamis{
	font-size:30px;
	font-family: 'Lobster', cursive;
		color:$introfont;


}
.whatiam{
	font-size:50px;
	font-family: 'Lobster', cursive;
		color:$introfont;


}
.webdev{
	font-family: 'Shrikhand', cursive;
		color:$introfont;

}
.artist{
		font-family: 'Shrikhand', cursive;
			color:$introfont;

}