<h3>About</h3>
<div class="row">
<p>Graduated from the Tyler School of Art in 2016 with a BFA in painting, earning the Alec Abels Memorial Award.</p>
<p>Completed a full-stack development course at the New York Code + Design Academy in 2017.</p>
</div>
	