
<div class="col-md-12">
				<a href="http://artofjordanforbes.herokuapp.com/#/">
					<div class="appbutton">
					Art Portfolio
					</div>
				</a>
		
				<a href="https://keyparty.herokuapp.com/">
					<div class="appbutton">
						key-party
					</div>
				</a>
		
		
				<a href="https://acrosstik.herokuapp.com/">
					<div class="appbutton">
					Acrosstik
					</div>
				</a>

		
</div>
	
