<div class="container">
	<div class="row">
		<div class="col-md-3">
				<a href="http://artofjordanforbes.herokuapp.com/#/">
					art portfolio
				</a>
		</div>
		<div class="col-md-3">
				<a href="https://keyparty.herokuapp.com/">
					key-party
				</a>
		</div>
		<div class="col-md-3">
				place
		</div>
		<div class="col-md-3">
				<% include sidebar%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
				Jordan Forbes
		</div>
		<div class="col-md-4">
				Jordan Forbes
		</div>
		<div class="col-md-4">
				Jordan Forbes
		</div>
		
	</div>
</div>