<div class="container">
	<div class="row">
		<div class="col-md-4">
				Jordan Forbes
		</div>
		<div class="col-md-4">
				Jordan Forbes
		</div>
		<div class="col-md-4">
				Jordan Forbes
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
				Jordan Forbes
		</div>
		<div class="col-md-4">
				Jordan Forbes
		</div>
		<div class="col-md-4">
				Jordan Forbes
		</div>
		
	</div>
</div>