<br>
<br>
<div class="container">
	<div class="intro">
		<div class="row">
			<span class="hello">Hello!</span>
			<span class="mynamis">My Name is</span>
		</div>
			<div class="row">

					<span class="name">Jordan Forbes</span>

			<div class="row">

					<span class="whatiam">I'm a Freelance <span class="webdev">Web Developer</span> and <span class="artist">Artist</span></span>

			</div>
		</div>
				<!-- <img class="paintspot1" src="../../assets/paintspot.png"> -->

	</div>
</div>
