<br>
<br>
<div class="container">
	<div class="intro">
		<div class="row">
			<span class="hello">Hello!</span> 
			<span class="mynamis">My Name is</span>
		</div>
			<div class="row">
				<div class="col-md-offset-3">
					<span class="name">Jordan Forbes</span>
			</div>
			<div class="row">
				<div class="col-md-offset-4">
					<span class="whatiam">I'm a Freelance Web Developer and Artist</span>
				</div>
			</div>
		</div>	
				<img class="paintspot1" src="../../assets/paintspot.png">

	</div>
</div>
			