<div class= "navbar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="name">
					Jordan Forbes	
				</div>	
			</div>
			<div class="col-md-4">
				<a href="https://github.com/jordanforbes">
					<i class="github fa fa-github" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/jordan-forbes">
					<i class="fa fa-linkedin-square" aria-hidden="true"></i>
				</a>


			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	</div>
</div>