
	<br>
		<nav class=" navbar container navbar-default navbar">

			<div class="row">
				<div class="col-md-2">
				<a href="/">
					<div class="faceshot">
						<img class= "goodphoto" src="/assets/goodphoto.jpg">
					</div>
				</a>
				</div>
			
			
				<a href="/">
			<div class=" nameplate col-md-3">
						Jordan Forbes
			</div>
				</a>
				<div class="buttonlist col-md-7">
					
					<div class="sitelinks">
						<a href="http://artofjordanforbes.herokuapp.com">
							<div class="navbtn tab">
								Art Portfolio
							</div>
						</a>
						<a href="/apps">
							<div class="navbtn tab">
									Apps
							</div>
						</a>
						
						<a href="/contact">
							<div class="navbtn  tab">
										Contact
							</div>
						</a>
						
						<a href="/skills">
							<div class="navbtn  tab">
										Skills
							</div>
						</a>
						
						<a href="/about">
							<div class="navbtn  tab">
										About
							</div>
						</a>
					</div>

					<div class="naviconlist">
						<a href="https://github.com/jordanforbes">
							<div class="navbtn tab">
								<i class="navbtn github fa fa-github" aria-hidden="true"></i>
							</div>
						</a>
						<a href="https://www.linkedin.com/in/jordan-forbes">
							<div class="navbtn tab">
								<i class="navbtn fa fa-linkedin-square" aria-hidden="true"></i>
							</div>
						</a>
					</div>

				</div>
			</div>
	</nav>
		


