
<%+ extend('layout') %>

<%+ section('content') %>
		<div class=" row">
			<% include partials/navbar%>
		</div>
		<div class="header row">
			<% include partials/header%>
		</div>
<%+ endSection %>
<%+ section('footer') %>
	<p>Jordan Forbes</p>
<%+ endSection %>
