<!DOCTYPE HTML>
<html>
	<head>
		<%include ../partials/head %>

	</head>
	<body>
	<div class="container">
		<div class=" row">
			<% include ../partials/navbar%>
		</div>
		<br>

		<div class="row">


			<div class="col-md-9 col-sm-5">

				<div class="row">
					<div class="container-fluid box">
						<div class="content">
							<%include ../partials/_about%>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	</body>
</html>