<html>
<head>
  <%include ../partials/head %>
</head>
<body>
  <div class="container">
    <div class="row">
      <% include ../partials/navbar %>
    </div>
    <div class="row">

      <div class="box">
        <div class="apppage">
          <% include ../partials/_apppage%>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
