.fa {
  font-size: 40px; }

.appbutton {
  float: left;
  display: block;
  color: black;
  height: 50px;
  width: 30%;
  margin: 1%;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  border: 2px red solid; }

.appbutton:hover {
  background-color: gray;
  color: white; }

.appbutton:active {
  background-color: gray;
  color: black; }

.tab {
  display: block;
  float: left;
  width: 100px;
  height: 30px;
  border: 1px gray solid;
  text-align: center; }

.tab:hover {
  background-color: gray;
  color: white; }

.tab:active {
  background-color: gray;
  color: black; }

div {
  /*border: 1px dashed black;*/ }

.name {
  font-size: 30px; }

.goofyphoto {
  height: 350px;
  margin-left: -90px; }

.face {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 100%;
  display: block;
  float: left; }

.box {
  display: block;
  border: 2px solid gray;
  border-radius: 3px;
  height: 140px; }

.tab {
  width: 100px;
  height: 30px;
  border: 1px gray solid;
  text-align: center; }
